.carousel {
  border: 2px solid black;
}

.table,
td {
  border: 2px solid black;
}

.loader {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.loader .spinner-border {
  position: absolute;
  top: 40%;
  left: 50%;
}
.rating-container {
  margin-top: 3rem;
}
.rating {
  display: flex;
  max-width: 80%;
}
.rating-label {
  margin: auto auto auto 0;
}
